<ion-content class="ion-padding">
  <br>
  <br>
  <br>
  <br>
  <br>
  <img class="imagenprin" src="/Poster Cambio de hora verano reloj 3d fondo rosa.png" />
  <br>
  <h1 align="center">Recordemos el ciclo</h1>

  <h5 align="center">Tranquilo resolveremos tu problema <br>
      para que recuperes el acceso a tu cuenta.</h5>

<div class="Cont" style="margin: 1em">
  <ion-list>
  
   
    <!-- <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" placeholder="Ingresa tu email"></ion-input>
    </ion-item> ¡-->
    <ion-datetime></ion-datetime>