<ion-content  class="ion-padding">
  <img class="imagenprin" src="/assets/img/Abeja3.jpeg" />
   
   <br>
   <br>
   <h3 align="center">Únete a nuestra comunidad</h3>
   

   <form [formGroup]="LoginForm">

    <div class="Cont" style="margin: 1em">
      <ion-list > 
 
      <!-- <ion-item class="name">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="name" placeholder="Ingresa tu nombre" formControlName='name'></ion-input>
      </ion-item> -->
  
      <ion-item class="email">
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" placeholder="Ingresa tu correo electrónico" formControlName='email'></ion-input>
      </ion-item>
    
      <ion-item class="password">
        <ion-label position="floating">Crea una contraseña</ion-label>
        <ion-input type="password" value="password" formControlName='password'></ion-input>
      </ion-item>
     
    </ion-list>
  </div>

  <ion-button fill="clear" style="background-color: rgb(128, 185, 24);" (click)="login()">Iniciar sesión</ion-button>
  <br>
  <br>
  <h3 align="center">¿Ya tienes una cuenta? <a style="color: rgb(0, 0, 0);" href="http://localhost:8100/login">Iniciar sesión</a></h3>

   </form>
 
   
     
   
 
  </ion-content>