<ion-content class="ion-padding">
  <br>
  <br>
  <br>
  <br>
  <br>
  <img class="imagenprin" src="/assets/img/candado.PNG" />
  <br>
  <h1 align="center">¿Problemas para iniciar sesión?</h1>

  <h5 align="center">Tranquilo resolveremos tu problema <br>
      para que recuperes el acceso a tu cuenta.</h5>

<div class="Cont" style="margin: 1em">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Ingresa tú nombre</ion-label>
      <ion-input placeholder="Ingresa tu nombre de usuario"></ion-input>
    </ion-item>
  
    <ion-item class="correo">
      <ion-label position="floating">Ingresa tú Correo electrónico</ion-label>
      <ion-input type="email" placeholder="Ingresa tu correo electrónico"></ion-input>
    </ion-item>

    <ion-item class="numero">
      <ion-label position="floating">Ingresa tú numero</ion-label>
      <ion-input type="email" placeholder="Ingresa tu numero"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" placeholder="Ingresa tu email"></ion-input>
    </ion-item> ¡-->
  </ion-list> 
</div>

  <ion-button fill="clear" style="background-color: rgb(44, 241, 255);" >Enviar</ion-button>


  <br>
  <h3 align="center"> <a style="color: rgb(0, 0, 0);" href="http://localhost:8100/registro">Crear cuenta nueva</a></h3>
  <br>

  <div class="back" style="margin: 4em">
  <h3 align="center"><a style="color: rgb(0, 0, 0);" href="http://localhost:8100/login">Volver al inicio de sesión </a></h3>
   </div>
